/* Homepage */

#HomepageFlex {
    display: flex;
    flex-flow: row nowrap;
    margin: 50px 2%;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }

  #HomeTextFull {
    width: 750px;
  }
  
  #HomepageText {
    text-align: center;
    margin: auto;
    width: 90%;
    max-width: 680px;
    font-size: 22px;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
  }
  
  #takanoshoFootball {
    width: 600px;
    height: 768px;
    border: 5px ridge goldenrod;
    margin: 0;
  }

  @media screen and (max-width: 1440px) {
    #HomepageFlex {
      flex-flow: row wrap;
    }
  }

@media screen and (max-width: 600px) {
  #hello {
    width: 270px;
    margin: 10px auto;
  }

  #hello p {
    font-size: calc((2 - 1) * 1.2vw + .6rem);
  }

  #hello h2 {
    font-size: 16px;
    margin: 5px 0;
  }

  #HomepageFlex {
    margin: 20px 3%;
  }

  #HomepageText {
    width: 88%;
  }

  #HomepageText p {
    font-size: calc((2 - 1) * 1.2vw + .7rem);
  }

  #takanoshoFootball {
    width: 90vw;
    height: calc(90vw * (768 / 600));
    margin: 0 auto;
  }
}