body {
  margin: 0;
  font-family: "Nunito Sans";
}

button {
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  height: 30px;
}

#hello {
  width: 500px;
  background-color: white;
  border: 4px ridge goldenrod;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
}

#BI {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .35;
}

#HowManyMain {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10vw;
}

#HowManyM, #HowManyJ {
  width: 15vw;
  height: fit-content;
  margin: 3vw 0;
  padding: 0 1vw;
  background: white;
  border: 3px solid goldenrod;
}

#HowManyM h2, #HowManyJ h2 { 
  text-align: center;
}

.HowManyOne {
  display: grid;
  grid-template-columns: 75% 15%;
  gap: 10%;
  margin: 1vw auto;
}

.HowManyOne p:first-child {
  text-align: right;
}

.HowManyOne p {
  margin: 0;
}

@media screen and (max-width: 600px) {
  body {
    margin: 5px 0 0 0;
  }

  #BI {
    height: 100vh;
  }
}