/* for the sign up form */

#SignupFlex {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid black;
  width: 90%;
  max-width: 450px;
  justify-content: center;
  margin: 0px;
  padding: 20px;
  background-color: white;
  height: 300px;
  border-radius: 10px;;
}

#SignupLines {
  margin: 30px auto;
}

.SignupLine {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  margin: 20px auto;
  font-size: 20px;
  height: 30px;
  text-align: left;
}

.SignupLine label {
  width: 150px;
}

.SignupLine input {
  font-size: 18px;
  width: 200px;
  margin: 0;
}

#pc {
  font-size: 14px;
}

#SignupFlex button {
  display: block;
  margin: 10px auto;
  height: 35px;
  width: 120px;
  font-size: 20px;
  color: black;
}



@media screen and (max-width: 600px) {

  #SignupFlex {
    width: 90%;
    padding: 5%;
    height: auto;
  }

  .SignupLine {
    width: 100%;
    margin: 15px auto;
    font-size: 14px;
    height: 30px;
    text-align: left;
  }

  .SignupLine label {
    width: 100px;
  }

  .SignupLine input {
    font-size: 16px;
  }

  #SignupFlex button {
    display: block;
    margin: 20px auto 10px auto;
    height: 35px;
    width: 120px;
    font-size: 20px;
  }
}