#team-rankings-box {
  background-color: white;
  width: 90vw;
  margin: 20px auto;
  border: 7px ridge goldenrod;
  max-height: 900px;
  overflow: scroll;
}

.oneTeamTR {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  border-bottom: 1px solid black;
}

#TRHeaderColumn { 
    top: 0;
    left: 0;
    position: sticky;
    background-color: #fff;
}

.oneTeamTR:nth-child(2n - 1) {
  background-color: rgba(5, 5, 5, 0.1);
}

.oneTeamTR h2 {
  font-size: 16px;
  width: 180px;
  overflow: scroll;
}

.oneTeamTR p {
  width: 70px;
  margin: 5px auto;
  font-size: 14px;
}

.totalTR {
  width: 70px;
}

#TRHeader, #TRAverage, #TRWeighted, #TRTotal {
    font-size: 14px;
}
